<div class="relative flex border-2 flex-col my-6 cursor-pointer shadow-sm rounded-lg w-96 hover:shadow-xl hover:shadow-primary">
    <div class="relative h-56 m-2.5 overflow-hidden text-white rounded-md">
      <img
        src="https://images.unsplash.com/photo-1515523110800-9415d13b84a8?q=80&w=1587&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
        alt="card-image" />
    </div>
    <div class="p-4">
      <div class="mb-4 rounded-full bg-primary py-0.5 px-2.5 border border-transparent text-xs text-white transition-all shadow-sm w-20 text-center">
        POPULAR
      </div>
      <h6 class="mb-2 text-xl font-semibold">
        Website Review Check
      </h6>
      <p class="leading-normal font-light">
        The place is close to Barceloneta Beach and bus stop just 2 min by walk
        and near to &quot;Naviglio&quot; where you can enjoy the main night life in
        Barcelona.
      </p>
    </div>

    <div class="flex items-center justify-between p-4">
      <div class="flex items-center">
        <img
          alt="Tania Andrew"
          src="https://images.unsplash.com/photo-1633332755192-727a05c4013d?ixlib=rb-1.2.1&amp;ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&amp;auto=format&amp;fit=crop&amp;w=1480&amp;q=80"
          class="relative inline-block h-8 w-8 rounded-full"
        />
        <div class="flex flex-col ml-3 text-sm">
          <span class="font-semibold">Lewis Daniel</span>
          <span>
            January 10, 2024
          </span>
        </div>
      </div>
    </div>
</div>

