<div class="relative w-full h-[320px]">
  <div class="absolute inset-0 opacity-70">
    <img
      src="https://images.unsplash.com/photo-1502796653588-06c1d24ad1dd?q=80&w=1470&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
      alt="hero"
      class="object-cover object-center w-full h-full bg-blend-multiply"/>
  </div>
  <div class="absolute inset-9 flex flex-col md:flex-row items-center justify-between">
    <div class="md:w-1/2 mb-4 md:mb-0">
      <h1 class="text-grey-700 font-medium text-4xl md:text-5xl leading-tight mb-2">Live It. Love It. BlogBall It.</h1>
      <p class="font-regular text-xl mb-8 mt-4">"Where Passion Meets the Game.</p>
      <a class="btn btn-outline" routerLink="/sign-in">Start Posting</a>
    </div>
  </div>
</div>
