<footer class="footer footer-center bg-base-200 text-base-content rounded p-10">
  <nav class="grid grid-flow-col gap-4">
    <a class="link link-hover" routerLink="/about">About us</a>
    <a class="link link-hover" routerLink="/contact">Contact</a>
    <a class="link link-hover" routerLink="/terms-and-conditions">Terms and conditions</a>
  </nav>
  <nav>
    <div class="grid grid-flow-col gap-4">
      <a>
        <fa-icon [icon]="['fab', 'facebook']" class="cursor-pointer text-2xl hover:text-primary"></fa-icon>
      </a>
      <a>
        <fa-icon [icon]="['fab', 'instagram']" class="cursor-pointer text-2xl hover:text-primary"></fa-icon>
      </a>
      <a>
        <fa-icon [icon]="['fab', 'github']" class="cursor-pointer text-2xl hover:text-primary"></fa-icon>
      </a>
    </div>
  </nav>
  <aside>
    <p>Copyright © {{ currentYear }} - All right reserved by Mohamed Boukthir</p>
  </aside>
</footer>
