<div class="max-w-screen-xl mx-auto p-5 sm:p-10 md:p-16">
  <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-10">
    <div class="rounded overflow-hidden shadow-lg flex flex-col">
      <div class="relative"><a href="#">
        <img alt="Sunset in the mountains"
             class="w-full"
             src="https://images.pexels.com/photos/61180/pexels-photo-61180.jpeg?auto=compress&amp;cs=tinysrgb&amp;dpr=1&amp;w=500">
        <div
          class="hover:bg-transparent transition duration-300 absolute bottom-0 top-0 right-0 left-0 bg-gray-900 opacity-25">
        </div>
      </a>
      </div>
      <div class="px-6 py-4 mb-auto">
        <small class="bg-white text-red-600 text-center">Design</small>
        <small class="bg-white text-teal-600 text-center ml-3">Design</small>
        <small class="bg-white text-blue-600 text-center ml-3">Design</small>
        <h5 class="mt-3 text-body">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore
          magna aliqua.
          Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
          Duis aute irure dolor in reprehenderit
          in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
        </h5>
      </div>
      <div class="px-6 py-3 flex flex-row items-center justify-between bg-gray-100">
          <span class="py-1 text-xs font-regular text-gray-700 mr-1 flex flex-row items-center">
               <fa-icon [icon]="['fas', 'clock']"></fa-icon>
               <span class="ml-1.5">LAST UPDATE - Sep 20, 2024</span>
          </span>
      </div>
    </div>
  </div>
</div>


